{{ define "addDoctor" }}

{{ template "header" }}

<h2>Добавление нового пользователя</h2>
<form class="form-horizontal" role="form" method="POST" action="/writeDoctor">
<input type="hidden" name="id" />
  <div class="form-group">
    <label class="control-label col-xs-3" for="lastName">Фамилия:</label>
    <div class="col-xs-4">
      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Введите фамилию">
    </div>
  </div>
  <!--<div class="form-group">
    <label class="control-label col-xs-3" for="firstName">Имя:</label>
    <div class="col-xs-4">
      <input type="text" class="form-control" id="firstName" placeholder="Введите имя">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-3" for="fatherName">Отчество:</label>
    <div class="col-xs-4">
      <input type="text" class="form-control" id="fatherName" placeholder="Введите отчество">
    </div>
  </div>
  -->
  <div class="form-group">
    <label class="control-label col-xs-3" for="otdelenie">Отделение:</label>
    <div class="col-xs-4">
      <input type="text" class="form-control" id="otdelenie" name="otdelenie" placeholder="Введите отделение">
    </div>
  </div>
  <br />
  <div class="form-group">
    <div class="col-xs-offset-3 col-xs-9">
      <input type="submit" class="btn btn-primary" value="Добавить">
      <input type="reset" class="btn btn-default" value="Очистить форму">
    </div>
  </div>
</form>

{{ template "footer" }}

{{ end }}