{{ define "index" }}

{{ template "header" }}

<h1>Hello</h1>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-fbrz{font-weight:bold;font-size:20px;text-align:center;vertical-align:top}
.tg .tg-eklo{font-size:20px;vertical-align:top}
.tg .tg-bzci{font-size:20px;text-align:center;vertical-align:top}
.tg .tg-jzok{font-size:20px;background-color:#fffc9e;text-align:center;vertical-align:top}
.tg .tg-m5ie{font-size:20px;background-color:#fffc9e;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-fbrz" colspan="39">График дежурств на 2015 год<br></th>
  </tr>
  <tr>
    <td class="tg-eklo" rowspan="2">№<br>п/п<br></td>
    <td class="tg-bzci" colspan="39">Октябрь<br></td>
  </tr>
  <tr>
    <td class="tg-jzok">Дежурный врач<br></td>
    <td class="tg-jzok">Чт<br></td>
    <td class="tg-jzok">Пн<br></td>
    <td class="tg-jzok">Сб<br></td>
    <td class="tg-jzok">Вс<br></td>
    <td class="tg-jzok">Пн</td>
    <td class="tg-m5ie">Вт</td>
    <td class="tg-m5ie">Ср</td>
    <td class="tg-m5ie">Чт</td>
    <td class="tg-m5ie">Пт</td>
    <td class="tg-m5ie">Сб</td>
    <td class="tg-m5ie">Вс</td>
    <td class="tg-jzok">Пн</td>
    <td class="tg-m5ie">Вт</td>
    <td class="tg-m5ie">Ср</td>
    <td class="tg-m5ie">Чт</td>
    <td class="tg-m5ie">Пт</td>
    <td class="tg-m5ie">Сб</td>
    <td class="tg-m5ie">Вс</td>
    <td class="tg-jzok">Пн</td>
    <td class="tg-m5ie">Вт</td>
    <td class="tg-m5ie">Ср</td>
    <td class="tg-m5ie">Чт</td>
    <td class="tg-m5ie">Пт</td>
    <td class="tg-m5ie">Сб</td>
    <td class="tg-m5ie">Вс</td>
    <td class="tg-jzok">Пн</td>
    <td class="tg-m5ie">Вт</td>
    <td class="tg-m5ie">Ср</td>
    <td class="tg-m5ie">Чт</td>
    <td class="tg-m5ie">Пт</td>
    <td class="tg-m5ie">Сб</td>
  </tr>
   <tr>
   {{ range $key, $value := . }}
    <td class="tg-fbrz">1</td>
    <td>{{ $value.Fio }}</td>
    <td class="tg-fbrz">1</td>
    <td class="tg-fbrz">2</td>
    <td class="tg-fbrz">3</td>
    <td class="tg-fbrz">4</td>
    <td class="tg-fbrz">5</td>
    <td class="tg-fbrz">6<br></td>
    <td class="tg-fbrz">7</td>
    <td class="tg-fbrz">8</td>
    <td class="tg-fbrz">9</td>
    <td class="tg-fbrz">10</td>
    <td class="tg-fbrz">11</td>
    <td class="tg-fbrz">12</td>
    <td class="tg-fbrz">13</td>
    <td class="tg-fbrz">14</td>
    <td class="tg-fbrz">15</td>
    <td class="tg-fbrz">16</td>
    <td class="tg-fbrz">17</td>
    <td class="tg-fbrz">18</td>
    <td class="tg-fbrz">19</td>
    <td class="tg-fbrz">20</td>
    <td class="tg-fbrz">21</td>
    <td class="tg-fbrz">22</td>
    <td class="tg-fbrz">23</td>
    <td class="tg-fbrz">24</td>
    <td class="tg-fbrz">25</td>
    <td class="tg-fbrz">26</td>
    <td class="tg-fbrz">27</td>
    <td class="tg-fbrz">28</td>
    <td class="tg-fbrz">29</td>
    <td class="tg-fbrz">30</td>
    <td class="tg-fbrz">31</td>
  </tr>
     {{end}}
</table>

{{ template "footer"}}

{{ end }}